<h2>
My Positions
</h2>

<% if @long_term_stocks.size > 5 %>
  <p class="alert">不要持有超过 5 只股票</p>
<% end %>

<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <th>Stock</th>
      <th>Shares</th>
      <th>Cost</th>
      <th>Close</th>
      <th>Value</th>
      <th>Change</th>
      <th>MA30</th>
      <th>Stop</th>
      <th>Action</th>
      <th>Notified At</th>
      <th>Ack</th>
    </tr>
    <%
      total = 0
      total_cost = 0
      cost_chart_data = {}
      market_chart_data = {}
    %>
    <% @long_term_stocks.each do |stock| %>
      <tr>
        <td><%= stock.stock_symbol %></td>
        <td><%= stock.shares %></td>
        <td><%= stock.cost %></td>
        <%
          total_cost += stock.total_cost
          cost_chart_data[stock.stock_symbol] = stock.total_cost
        %>
        <%# close price %>
        <% quote = FinanceClient::Stock.quote(stock.stock_symbol) %>
        <td><%= quote["latestPrice"] %></td>
        <%
          market_value = (quote["latestPrice"] * stock.shares).to_i
          total += market_value
          market_chart_data[stock.stock_symbol] = market_value
        %>
        <td><%= (quote["latestPrice"] * stock.shares).to_i %> </td>
        <td><%= ((quote["latestPrice"] - stock.cost) / stock.cost * 100).round(2) %>%</td>
        <td><%= stock.ma30 %></td>
        <td><%= stock.caculated_stop_price %></td>
        <td><%= stock.action %></td>
        <td><%= stock.notified_at&.strftime("%Y-%m-%d %I:%M%p") %></td>
        <td>
          <% if stock.need_ack? %>
            <%= button_to "确认", ack_stock_path(stock), remote: true, method: :patch, form_class: "ack_stock_#{stock.id}", data: { confirm: 'Are you sure to Act?', disable_with: 'Acting ...'} %>
          <% elsif stock.acked_at.present? %>
            <%= stock.acked_at.strftime('%Y-%m-%d %I:%M%p') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

Total: <%= total %> | Total Cost: <%= total_cost %> | Gain/Lost: <%= total - total_cost%>
<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td>
        <%= pie_chart(cost_chart_data, width: "400px") %>
      </td>
      <td>
        <%= pie_chart(market_chart_data, width: "400px") %>
      </td>
    </tr>
  </tbody>
</table>
