<h2>
My Positions
</h2>

<% if @long_term_stocks.size > 5 %>
  <p class="alert">不要持有超过 5 只股票</p>
<% end %>

<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <th>Stock</th>
      <th>Shares</th>
      <th>Cost</th>
      <th>Close</th>
      <th>Value</th>
      <th>Change</th>
      <th>MA30</th>
      <th>Auto Stop</th>
      <th>Hand Stop</th>
      <th>Risk</>
      <th>Risk%</th>
      <th>Trade Time</th>
      <th>Notified At</th>
      <th>Ack</th>
    </tr>
    <% @long_term_stocks.each do |stock| %>
      <tr>
        <td><%= stock.stock_symbol %></td>
        <td><%= stock.shares %></td>
        <td><%= stock.cost %></td>
        <td><%= stock.latest_price %></td>
        <td><%= stock.market_value %> </td>
        <td><%= stock.calculated_change %>%</td>
        <td><%= stock.calculated_ma30 %></td>
        <td><%= stock.calculated_stop_price %></td>
        <td><%= stock.stop_price %></td>
        <td><%= stock.calculated_lost %></td>
        <td><%= stock.calculated_risk %>%</td>
        <td><%= time_ago_in_words(stock.first_trade_time || Time.current) %></td>
        <td><%= stock.notified_at&.strftime("%Y-%m-%d %I:%M%p") %></td>
        <td>
          <% if stock.need_ack? %>
            <%= button_to "确认", ack_stock_path(stock), remote: true, method: :patch, form_class: "ack_stock_#{stock.id}", data: { confirm: 'Are you sure to Act?', disable_with: 'Acting ...'} %>
          <% elsif stock.acked_at.present? %>
            <%= stock.acked_at.strftime('%Y-%m-%d %I:%M%p') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<b>Total Market:</b> <%= @total_market_value %> |
Total Cost: <%= @total_cost %> |
<b>Gain/Lost:</b> <%= @total_gain %> |
Total Capital: <%= LongTermStock::TOTAL_CAPITAL %> |
<b>Cash:</b> <%= @cash %> |
<b>Total Risk</b>: <%= @total_risk%>  ---   <%= @total_risk_percentage %>%

<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td>
        <%= pie_chart(@cost_chart_data, width: "400px") %>
      </td>
      <td>
        <%= pie_chart(@market_chart_data, width: "400px") %>
      </td>
    </tr>
  </tbody>
</table>
