<h2>
My Positions
</h2>

<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <th>Stock</th>
      <th>Action</th>
      <th>Notified At</th>
      <th>Ack</th>
    </tr>
    <% @long_term_stocks.each do |stock| %>
      <tr>
        <td><%= stock.stock_symbol %></td>
        <td><%= stock.action %></td>
        <td><%= stock.notified_at&.strftime("%Y-%m-%d %I:%M%p") %></td>
        <td>
          <% if stock.need_ack? %>
            <%= button_to "чбошод", ack_stock_path(stock), remote: true, method: :patch, form_class: "ack_stock_#{stock.id}", data: { confirm: 'Are you sure to Act?', 'disable-with': 'Acting ...'} %>
          <% elsif stock.acked_at.present? %>
            <%= stock.acked_at.strftime('%Y-%m-%d %I:%M%p') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
