<h3>
  Dear Bing
</h3>

<% @stocks.each do |stock| %>
  <hr>
  <p>Symbol: <%= stock.stock_symbol.upcase %></p>
  <p>Bid: <%= stock.bid_price %></p>
  <p>Target: <%= stock.target_price %></p>
  <p>Action: <%= stock.action %></p>
  <p>Last: <%= stock.last_trade_price %></p>
<% end %>

Sincerely,
fair100.com
