<h3>
  Dear Bing
</h3>

<% @results.each do |result| %>
  <hr>
  <p>Symbol: <%= result.symbol %></p>
  <p>Bid: <%= result.bid %></p>
  <p>Target: <%= result.target_price %></p>
  <p>Action: <%= result.action %></p>
  <p>Last: <%= result.last_trade_price %></p>
<% end %>

Sincerely,
fair100.com
